.slideshow-container {
    display: block;
    flex: 100%;
}
.mySlides {
    position: relative;
    color: white;
}
.TituloCardapio {
    position: absolute;
    bottom: 5px;
    left: 0px;
    font-size: 25px;
}
    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 2.5s;
    }

    @-webkit-keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    @keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }
