.slideshow-container {
    display: block;
    flex: 100%;
}
.mySlides {
    position: relative;
    color: white;
}
.TituloCardapio {
    position: absolute;
    bottom: 5px;
    /* left: 0%; */
    font-size: 25px;
    text-align: right;
}
.TituloPrincipal {
    position: absolute;
    height: 50px;
    top: 5px;
    /* right: 99%; */
    font-size: 25px; 
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 50px;
    text-align: left;
    padding: 10px 30px  30px 30px;
    /* opacity: 30% ; */
    color: black ;
    
}
    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1s;
    }

    @-webkit-keyframes fade {
        from {            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    @keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }
