.slideshow-container {
    display: block;
    flex: 100%;
}
.mySlides {
    position: relative;
    color: white;
}
.TituloCardapio {
    position: absolute;
    bottom: 5px;
    left: 0px;
    font-size: 25px;
}